WizardTools/XSD/Wizards.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ROOT" type="ROOTType"/>
  <xs:complexType name="RequisiteType" mixed="true">
    <xs:sequence>
      <xs:element type="RecordRefRefType" name="RecordRef" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Name" use="required"/>
    <xs:attribute type="RequisiteTypeType" name="Type" use="required"/>
    <xs:attribute type="xs:string" name="Value" use="optional"/>
  </xs:complexType>
  <!--
  <xs:complexType name="SimpleRequisiteType">
      <xs:attribute type="xs:string" name="Name" use="required"/>
      <xs:attribute type="RequisiteTypeType" name="Type" use="required"/>
      <xs:attribute type="xs:string" name="Value" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TextRequisiteType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name" use="required"/>
        <xs:attribute type="RequisiteTypeType" name="Type" use="required" fixed="Text"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ReferenceRequisiteType">
    <xs:sequence>
      <xs:element type="RecordRefRefType" name="RecordRef" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Name" use="required"/>
    <xs:attribute type="RequisiteTypeType" name="Type" use="required" fixed="Reference"/>
  </xs:complexType>
  -->
  <xs:complexType name="RecordRefType">
    <xs:sequence>
      <xs:element type="RequisiteType" name="Requisite" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="ReverenceVidType" name="Vid" use="required"/>
    <xs:attribute type="xs:string" name="Kod" use="required"/>
    <xs:attribute type="xs:string" name="Name" use="required"/>
  </xs:complexType>
  <xs:complexType name="RecordRefRefType">
    <xs:attribute type="ReverenceVidType" name="Vid" use="required"/>
    <xs:attribute type="xs:string" name="Kod" use="required"/>
    <xs:attribute type="xs:string" name="Name" use="required"/>
  </xs:complexType>
  <xs:complexType name="ROOTType">
    <xs:sequence>
      <xs:element type="RecordRefType" name="RecordRef" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:float" name="Version"/>
  </xs:complexType>
  <xs:simpleType name="RequisiteTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Priznak"/>
      <xs:enumeration value="Data"/>
      <xs:enumeration value="String"/>
      <xs:enumeration value="Text"/>
      <xs:enumeration value="Reference"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReverenceVidType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WIZARD_GROUPS"/>
      <xs:enumeration value="WIZARDS"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>